.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  display: flex;
  width: 100%;
  height: 26px;
  justify-content: space-between;

  align-items: center;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all o.5s;
}
.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}
.nav__avatar {
  position: fixed;
  right: 20px;
  top:20px;
  width: 30px;
  object-fit: contain;
  
}
